.high-quality-playlist{
    overflow: scroll;
    height: 80vh;
    padding: 0 40px;
    position: relative;
    .head{
        .title{
            font-size: 24px;
            font-weight: 700;
            .type-btn{
                display: inline-block;
                font-size: 13px;
                font-weight: 400;
                border-radius: 10px;
                border: 1px solid gray;
                padding:  3px 10px;
                float: right;
            }
        }
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        .cards{
            width: 50%;
            display: flex;
            .card{
                width: 25%;
            }
            .des-text{
                display: inline-block;
                font-size: 15px;
                padding-left: 10px;
                .name{
                    padding-top: 35px;
                    cursor: pointer;
                }
                .creator{
                    color: gray;
                    cursor: pointer;
                    font-size: 10px;
                    padding-top: 20px;
                }
                .des{
                    color: rgb(179, 179, 179);
                    font-size: 11px;
                    padding-top: 35px;
                }
            }
        }
        @media (min-width:1921px) {
            .cards{
                width: 33%;
            }
        }
    }
    .hq-popver{
        position: absolute;
        right: 30px;
        top: 30px;
        float: left;
    }
}