.high-quality-playlist {
  overflow: scroll;
  height: 80vh;
  padding: 0 40px;
  position: relative;
}
.high-quality-playlist .head .title {
  font-size: 24px;
  font-weight: 700;
}
.high-quality-playlist .head .title .type-btn {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 3px 10px;
  float: right;
}
.high-quality-playlist .content {
  display: flex;
  flex-wrap: wrap;
}
.high-quality-playlist .content .cards {
  width: 50%;
  display: flex;
}
.high-quality-playlist .content .cards .card {
  width: 25%;
}
.high-quality-playlist .content .cards .des-text {
  display: inline-block;
  font-size: 15px;
  padding-left: 10px;
}
.high-quality-playlist .content .cards .des-text .name {
  padding-top: 35px;
  cursor: pointer;
}
.high-quality-playlist .content .cards .des-text .creator {
  color: gray;
  cursor: pointer;
  font-size: 10px;
  padding-top: 20px;
}
.high-quality-playlist .content .cards .des-text .des {
  color: #b3b3b3;
  font-size: 11px;
  padding-top: 35px;
}
@media (min-width: 1921px) {
  .high-quality-playlist .content .cards {
    width: 33%;
  }
}
.high-quality-playlist .hq-popver {
  position: absolute;
  right: 30px;
  top: 30px;
  float: left;
}
