.search-detail-user .search-detail-card {
  height: 85px;
  line-height: 80px;
  vertical-align: middle;
}
.search-detail-user .search-detail-card .pic img {
  margin-left: 10px;
}
.search-detail-user .search-detail-card:nth-child(2n) {
  background-color: #f5f5f5;
  border-radius: 5px;
}
.search-detail-user .search-detail-card:hover {
  background-color: #e7e7e7;
}
