.playlistdetail-head {
  position: relative;
  width: 100%;
  padding-top: 25px;
}
.playlistdetail-head .left {
  display: inline-block;
  margin-right: 20px;
  /* float 解决了点击详细按钮图片会跟着向下 */
  float: left;
  margin-left: 20px;
}
.playlistdetail-head .left img {
  width: 180px;
  height: 180px;
  border-radius: 5px;
}
.playlistdetail-head .right {
  display: inline-block;
}
.playlistdetail-head .right .title {
  padding-bottom: 5px;
}
.playlistdetail-head .right .title .songlist-type {
  border: 1px solid red;
  color: red;
  border-radius: 5px;
  font-size: 13px;
  vertical-align: middle;
  padding: 3px;
}
.playlistdetail-head .right .title .songlist-name {
  font-size: 23px;
  font-weight: 900;
  margin-left: 10px;
  vertical-align: middle;
}
.playlistdetail-head .right .creator-info {
  margin-top: 10px;
  font-size: 12.5px;
}
.playlistdetail-head .right .creator-info .head-portrait {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
}
.playlistdetail-head .right .creator-info .creator-name {
  vertical-align: middle;
  margin-left: 5px;
  color: #73a6be;
}
.playlistdetail-head .right .creator-info .create-time {
  vertical-align: middle;
  margin-left: 5px;
}
.playlistdetail-head .right .tools {
  margin-top: 10px;
  margin-bottom: 10px;
}
.playlistdetail-head .right .tools .el-button.is-round {
  padding: 5px 10px;
}
.playlistdetail-head .right .tools .el-button {
  height: 30px;
}
.playlistdetail-head .right .tools .el-button .play-all:hover {
  background-color: #dd1414;
}
.playlistdetail-head .right .tools .el-button.is-round:nth-child(n+2):hover {
  background-color: #f6f6f6;
  color: gray;
}
.playlistdetail-head .right .album-info {
  height: 200px;
}
.playlistdetail-head .right .biaoqian {
  font-size: 13.5px;
}
.playlistdetail-head .right .songlist-title {
  display: inline-block;
  margin-top: 5px;
  font-size: 13.5px;
  color: #73a6be;
}
.playlistdetail-head .right .updata-type {
  font-size: 13px;
  color: #4f95ff;
  cursor: pointer;
}
.playlistdetail-head .right .updata-type:hover {
  color: #2828dd;
}
.playlistdetail-head .right .song-other-info {
  margin-top: 10px;
  font-size: 13.5px;
}
.playlistdetail-head .right .description {
  display: inline-block;
  margin-top: 10px;
  font-size: 13.5px;
  line-height: 20px;
  height: 20px;
  width: 1100px;
  word-wrap: break-word;
  overflow: hidden;
}
.playlistdetail-head .right .description .updata-desc {
  font-size: 13px;
  cursor: pointer;
  color: #4f95ff;
}
.playlistdetail-head .right .description .updata-desc:hover {
  color: #2828dd;
}
.playlistdetail-head .show-description {
  position: absolute;
  right: 60px;
  top: 187px;
}
