.search-detail-video {
  display: flex;
  width: 100%;
  justify-content: center;
}
.search-detail-video .content {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
}
@media (min-width: 1351px) {
  .search-detail-video .content .card {
    margin-right: 20px;
    width: 22%;
  }
  .search-detail-video .content .card:nth-child(4n+1) {
    margin-left: 10px;
  }
}
@media (max-width: 1350px) {
  .search-detail-video .content .card {
    margin-right: 20px;
    width: 28.5%;
  }
  .search-detail-video .content .card:nth-child(3n+1) {
    margin-left: 40px;
  }
}
