.search-detail-video{
    display: flex;
    flex-wrap: wrap;
    width: 100%;


    @media (max-width:1999px) {
        .card{
            margin-right: 40px;
            width: 30%;
        }
        .card:nth-child(3n+1){
            margin-left: 40px;
        }
    }

    
    @media (min-width: 2000px) {
        .card {
            margin-right: 20px;
            width: 19%;
        }
        .card:nth-child(4n+1){
            margin-left: 40px;
        }
    }
}