.albumlist-detail {
  width: 100%;
  flex-wrap: wrap;
  overflow: scroll;
  height: 100vh;
  min-width: 1700px;
}
.albumlist-detail .albumlist-content {
  width: 100%;
  margin-top: 30px;
}
.albumlist-detail .albumlist-content .top {
  display: flex;
  margin-bottom: 18px;
  margin-left: 30px;
}
.albumlist-detail .albumlist-content .top .navbar {
  display: flex;
}
.albumlist-detail .albumlist-content .top .navbar .item {
  font-size: 16px;
  color: gray;
  padding-bottom: 5px;
  margin-right: 20px;
}
.albumlist-detail .albumlist-content .top .navbar .active {
  color: black;
  font-size: 17px;
  font-weight: 900;
  border-bottom: 2.5px solid red;
}
.albumlist-detail .albumlist-content .comment {
  padding-left: 20px;
}
