.mv {
  display: flex;
  justify-content: center;
  overflow: scroll;
  height: 83vh;
}
.mv .content {
  width: 1100px;
}
.mv .content .new-mv .new-MV-into-button {
  line-height: 30px;
  font-weight: 900;
  font-size: 18px;
}
.mv .content .new-mv .type {
  margin-left: 2px;
  font-size: 13px;
  color: gray;
  padding: 0px 15px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
.mv .content .new-mv .type:hover {
  color: #383838;
}
.mv .content .new-mv .active {
  color: #fb3333 !important;
  background-color: #ffd8d8;
  border-radius: 10px;
}
.mv .content .new-mv .card {
  display: flex;
  flex-wrap: wrap;
}
.mv .content .new-mv .card .item {
  width: 24%;
}
.mv .content .new-mv .card .item img {
  height: 150px;
  object-fit: cover;
}
.mv .content .new-mv .card .item:nth-child(1) {
  margin-right: 10px;
}
.mv .content .new-mv .card .item:nth-child(2) {
  margin-right: 10px;
}
.mv .content .new-mv .card .item:nth-child(3) {
  margin-right: 10px;
}
.mv .content .new-mv .card .item:nth-child(5) {
  margin-right: 10px;
}
.mv .content .new-mv .card .item:nth-child(6) {
  margin-right: 10px;
}
.mv .content .new-mv .card .item:nth-child(7) {
  margin-right: 10px;
}
.mv .content .hot-mv .card {
  display: flex;
  flex-wrap: wrap;
}
.mv .content .hot-mv .card .item {
  width: 24%;
}
.mv .content .hot-mv .card .item img {
  height: 150px;
  object-fit: cover;
}
.mv .content .hot-mv .card .item:nth-child(1) {
  margin-right: 10px;
}
.mv .content .hot-mv .card .item:nth-child(2) {
  margin-right: 10px;
}
.mv .content .hot-mv .card .item:nth-child(3) {
  margin-right: 10px;
}
.mv .content .hot-mv .card .item:nth-child(5) {
  margin-right: 10px;
}
.mv .content .hot-mv .card .item:nth-child(6) {
  margin-right: 10px;
}
.mv .content .hot-mv .card .item:nth-child(7) {
  margin-right: 10px;
}
.mv .content .wy-mv .card {
  display: flex;
  flex-wrap: wrap;
}
.mv .content .wy-mv .card .item {
  width: 24%;
}
.mv .content .wy-mv .card .item img {
  height: 150px;
  object-fit: cover;
}
.mv .content .wy-mv .card .item:nth-child(1) {
  margin-right: 10px;
}
.mv .content .wy-mv .card .item:nth-child(2) {
  margin-right: 10px;
}
.mv .content .wy-mv .card .item:nth-child(3) {
  margin-right: 10px;
}
.mv .content .wy-mv .card .item:nth-child(5) {
  margin-right: 10px;
}
.mv .content .wy-mv .card .item:nth-child(6) {
  margin-right: 10px;
}
.mv .content .wy-mv .card .item:nth-child(7) {
  margin-right: 10px;
}
