.search {
  position: relative;
}
.search .input-text input {
  width: 180px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-image: url("../../../assets/icon/search-active.svg");
  background-repeat: no-repeat;
  background-position: 145px;
  outline: none;
}
.search .hot-search {
  position: absolute;
  left: -50px;
  top: 48.5px;
  width: 360px;
  height: 460px;
  background-color: #f7f6f6;
  border-radius: 10px;
  z-index: 999;
  overflow: scroll;
  overflow-x: hidden;
}
.search .hot-search .title {
  padding-left: 25px;
  font-size: 15px;
  font-weight: 700;
}
.search .hot-search .item {
  height: 50px;
  width: 360px;
  display: flex;
  margin-bottom: 5px;
  cursor: pointer;
}
.search .hot-search .item .left {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  padding-left: 6px;
  font-size: larger;
}
.search .hot-search .item .active {
  color: red;
}
.search .hot-search .item .right {
  width: 310px;
  height: 50px;
  line-height: 30px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}
.search .hot-search .item .right .top {
  height: 20px;
}
.search .hot-search .item .right .top .search-word {
  font-weight: 900;
}
.search .hot-search .item .right .top .score {
  font-weight: 100;
  font-size: xx-small;
  color: gray;
  padding-left: 10px;
}
.search .hot-search .item .right .content {
  color: #505050;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search .hot-search .item:hover {
  background-color: #d8d5d5;
}
.search .cloud-search {
  position: absolute;
  left: -50px;
  top: 48.5px;
  width: 360px;
  height: 460px;
  background-color: #f7f6f6;
  border-radius: 10px;
  z-index: 999;
  font-size: 13px;
  color: #353535;
  font-weight: 500;
}
.search .cloud-search .search-all {
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  cursor: pointer;
}
.search .cloud-search .songs,
.search .cloud-search .albums,
.search .cloud-search .artists {
  cursor: pointer;
}
.search .cloud-search .songs .search-title,
.search .cloud-search .albums .search-title,
.search .cloud-search .artists .search-title {
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  padding-left: 15px;
  background-color: #e2e2e2;
}
.search .cloud-search .songs .search-title img,
.search .cloud-search .albums .search-title img,
.search .cloud-search .artists .search-title img {
  vertical-align: middle;
  padding-right: 4px;
}
.search .cloud-search .songs .item,
.search .cloud-search .albums .item,
.search .cloud-search .artists .item {
  height: 28px;
  line-height: 28px;
  padding-left: 40px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search .cloud-search .songs .item:hover,
.search .cloud-search .albums .item:hover,
.search .cloud-search .artists .item:hover {
  background-color: #e2e2e2;
}
