.video {
  display: flex;
  justify-content: center;
  overflow: scroll;
  height: 82vh;
}
.video .content {
  width: 1100px;
  position: relative;
}
.video .content .navbar .type {
  display: flex;
}
.video .content .navbar .type .alltype {
  margin-left: 10px;
}
.video .content .navbar .type .alltype .el-button {
  border-radius: 20px;
}
.video .content .navbar .type .alltype .el-button:focus,
.video .content .navbar .type .alltype .el-button:hover {
  color: gray;
  border-color: gray;
  background-color: white;
}
.video .content .navbar .type .hottype {
  width: 100%;
  height: 30px;
  margin-left: 400px;
  line-height: 35px;
}
.video .content .navbar .type .hottype .item {
  margin-left: 2px;
  font-size: 13px;
  color: gray;
  display: inline-block;
  padding: 0px 15px;
}
.video .content .navbar .type .hottype .item:hover {
  color: #383838;
}
.video .content .navbar .type .hottype .active {
  color: #fb3333;
  background-color: #ffd8d8;
  border-radius: 10px;
}
.video .content .all-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.video .content .all-card .card {
  width: 24%;
  margin-left: 10px;
}
.video .content .video-type-popover {
  position: absolute;
  left: 10px;
  top: 41px;
}
