.singer-list-detail {
  width: 100%;
  padding-top: 35px;
  flex-wrap: wrap;
  overflow: scroll;
  height: 92vh;
  min-width: 1700px;
}
.singer-list-detail .head {
  width: 100%;
  display: flex;
}
.singer-list-detail .head .pic {
  margin-left: 30px;
}
.singer-list-detail .head .pic img {
  width: 180px;
  height: 180px;
  border-radius: 5px;
}
.singer-list-detail .head .text {
  width: 100%;
}
.singer-list-detail .head .text .name {
  font-size: 23px;
  font-weight: 900;
  margin-left: 20px;
}
.singer-list-detail .head .text .el-button.is-round {
  padding: 5px 20px;
}
.singer-list-detail .head .text .el-button {
  height: 30px;
  margin-top: 15px;
  margin-left: 18px;
}
.singer-list-detail .head .text .el-button.is-round:hover {
  background-color: #f6f6f6;
  color: gray;
}
.singer-list-detail .head .text .other {
  margin-top: 15px;
  margin-left: 20px;
  font-size: 13px;
}
.singer-list-detail .head .text .other .songs {
  margin-right: 20px;
}
.singer-list-detail .head .text .other .album {
  margin-right: 20px;
}
.singer-list-detail .head .text .other .mv {
  margin-right: 20px;
}
.singer-list-detail .content {
  margin-top: 30px;
  width: 100%;
}
.singer-list-detail .content .top {
  display: flex;
  margin-bottom: 18px;
  margin-left: 30px;
}
.singer-list-detail .content .top .navbar {
  display: flex;
}
.singer-list-detail .content .top .navbar .item {
  font-size: 16px;
  color: gray;
  padding-bottom: 5px;
  margin-right: 20px;
}
.singer-list-detail .content .top .navbar .active {
  color: black;
  font-size: 17px;
  font-weight: 900;
  border-bottom: 2.5px solid red;
}
.singer-list-detail .content .top .search {
  margin-left: 1000px;
  width: 190px;
  background-color: aqua;
}
