.alltype-popover {
  width: 50%;
  border: 2px solid #b1afaf;
  background-color: #fdfdfd;
  border-radius: 10px;
}
.alltype-popover .top {
  font-size: 15px;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #bdbcbc;
}
.alltype-popover .center {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.alltype-popover .center .left {
  width: 20%;
  display: flex;
}
.alltype-popover .center .left .pic {
  margin-left: 20px;
  margin-top: 10px;
}
.alltype-popover .center .left .pic img {
  width: 100%;
}
.alltype-popover .center .left .text {
  margin-top: 10px;
  height: 32px;
  font-size: 13px;
  line-height: 30px;
}
.alltype-popover .center .right {
  cursor: pointer;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.alltype-popover .center .right .item {
  width: 16%;
  display: inline;
  padding: 10px 10px 10px 10px;
  line-height: 25px;
}
.alltype-popover .center .right .item .text {
  display: inline-block;
  font-size: 13px;
}
.alltype-popover .center .right .item .text:hover {
  color: red;
}
.alltype-popover .center .right .item .pic {
  margin-left: 5px;
  width: 20px;
  display: inline-block;
}
.alltype-popover .center .right .item .pic img {
  width: 100%;
}
.alltype-popover .center .right .active {
  color: #8f1b1b !important;
  background-color: #ffd8d8;
  border-radius: 5px;
}
