.video-type-popover {
  font-size: 14px;
  width: 600px;
  border: 2px solid #b1afaf;
  background-color: #fdfdfd;
  border-radius: 10px;
  overflow: scroll;
  height: 500px;
  overflow-x: hidden;
}
.video-type-popover .top {
  font-size: 15px;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #bdbcbc;
}
.video-type-popover .center {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.video-type-popover .center .item {
  width: 100px;
  line-height: 25px;
  padding: 10px 20px;
  height: 25px;
  text-align: center;
  cursor: pointer;
}
.video-type-popover .center .item:hover {
  color: red;
}
.video-type-popover .center .active {
  color: #8f1b1b;
  background-color: #ffd8d8;
  border-radius: 20px;
}
