.comment-card {
  width: 100%;
  padding-top: 10px;
  display: flex;
}
.comment-card .left {
  display: inline-block;
  padding: 10px 10px 10px 0;
  width: 40px;
  height: 40px;
}
.comment-card .left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}
.comment-card .content {
  vertical-align: middle;
  display: inline-block;
  width: 95%;
}
.comment-card .content .text {
  padding-top: 13px;
  padding-bottom: 10px;
  font-size: 13px;
  vertical-align: middle;
}
.comment-card .content .text span:nth-child(1) {
  color: #255881;
}
.comment-card .content .time-tools {
  font-size: 13px;
}
.comment-card .content .time-tools .time {
  font-size: 13px;
}
.comment-card .content .time-tools .tools {
  display: flex;
  float: right;
}
.comment-card .content .time-tools .tools .like {
  margin: 0 10px;
}
.comment-card .content .time-tools .tools .share {
  margin: 0 10px;
}
.comment-card .content .time-tools .tools .reply {
  margin: 0 10px;
}
