.max-play {
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.max-play .content {
  width: 1100px;
  position: absolute;
  display: flex;
}
.max-play .content .record-tools {
  width: 50%;
  height: 50%;
  text-align: center;
  padding-top: 40px;
}
.max-play .content .record-tools .pic {
  margin-top: 90px;
}
.max-play .content .record-tools .pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.max-play .content .record-tools .tools {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.max-play .content .record-tools .tools .heart,
.max-play .content .record-tools .tools .collect,
.max-play .content .record-tools .tools .download,
.max-play .content .record-tools .tools .share {
  padding: 10px;
  padding-top: 30px;
  padding-left: 40px;
}
.max-play .content .song-info {
  width: 45%;
  height: 50%;
  padding-top: 40px;
}
.max-play .content .song-info .song-name {
  font-size: x-large;
}
.max-play .content .song-info .album-name,
.max-play .content .song-info .singer-name {
  width: 200px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 15px 0;
}
.max-play .content .song-info .album-name span,
.max-play .content .song-info .singer-name span {
  color: #6555f7;
  cursor: pointer;
}
.max-play .content .song-info .lyric {
  overflow: scroll;
  overflow-x: hidden;
  height: 350px;
}
.max-play .content .song-info .lyric .lyric-item {
  font-size: medium;
  margin: 10px 0;
}
.max-play .content .song-info .lyric .lyric-active {
  font-weight: 900;
  margin: 20px 0;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.max-play .content .min-buttom {
  padding-top: 40px;
  width: 5%;
}
.max-play .simi-song {
  width: 1100px;
  margin-top: 40px;
  position: absolute;
  top: 450px;
}
.max-play .simi-song span {
  font-size: x-large;
}
.max-play .simi-song .simi-content {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.max-play .simi-song .simi-content .simi-item {
  width: 30%;
}
.max-play .comment {
  width: 1100px;
  margin-top: 40px;
  position: absolute;
  top: 550px;
}
.max-play .comment .title {
  font-size: x-large;
  padding-bottom: 20px;
}
