.box {
  background-color: red;
  height: 60px;
  display: flex;
  width: 100%;
}
.box .left {
  width: 50%;
  height: 60px;
  display: flex;
}
.box .left .logo {
  width: 250px;
  line-height: 80px;
}
.box .left .logo img {
  height: 35px;
}
.box .left .back_go_tool {
  width: 170px;
  text-align: center;
  line-height: 71.5px;
}
.box .left .back_go_tool img {
  height: 25px;
  border-radius: 10px;
  margin-left: 10px;
}
.box .left .search {
  width: 400px;
  line-height: 60px;
}
.box .right {
  width: 50%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}
.box .right .tool {
  height: 60px;
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 20px;
}
.box .right .tool img {
  margin-right: 20px;
  margin-left: 20px;
  height: 25px;
  margin-top: 17px;
}
.box .right .user-info {
  height: 60px;
  display: flex;
}
.box .right .user-info .out-login {
  line-height: 55px;
}
.box .right .user-info .out-login .el-icon-user {
  font-size: 32px;
  vertical-align: middle;
}
.box .right .user-info .out-login span {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 400;
}
.box .right .user-info .login {
  line-height: 55px;
}
.box .right .user-info .login span {
  vertical-align: middle;
}
.box .right .user-info .login img {
  height: 25px;
  margin-right: 10px;
  border-radius: 10px;
  vertical-align: middle;
}
.box .notice-popover .title {
  font-size: 25px;
  margin-left: 20px;
  margin-top: 20px;
}
.box .notice-popover .tabs {
  margin: 25px 15px;
  font-size: 12px;
  border: 1px solid gray;
  border-radius: 15px;
  width: 320px;
  cursor: pointer;
}
.box .notice-popover .tabs .item {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
}
.box .notice-popover .tabs .item:hover {
  background-color: #e9e9e9;
}
.box .notice-popover .tabs .active {
  background-color: #cecece;
}
.box .notice-popover .content .private .notice-card {
  display: flex;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 15px;
  height: 55px;
  cursor: pointer;
}
.box .notice-popover .content .private .notice-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}
.box .notice-popover .content .private .notice-card .text {
  width: 290px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  vertical-align: middle;
  border-bottom: 1px solid #e9e9e9;
}
.box .notice-popover .content .private .notice-card .text .name {
  color: rgba(0, 140, 255, 0.856);
  width: 60%;
}
.box .notice-popover .content .private .notice-card .text .time {
  font-size: 9px;
  color: #e9e9e9;
  width: 40%;
}
.box .notice-popover .content .private .notice-card .text .new-notice {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box .notice-popover .content .private .notice-card:hover {
  background-color: #e9e9e9;
  border-radius: 5px;
}
.inner-popover {
  font-size: 15px;
  position: relative;
}
.inner-popover .el-icon-arrow-left {
  font-size: 18px;
  margin-left: 10px;
}
.inner-popover .name {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-left: 120px;
}
.inner-popover .content {
  overflow: scroll;
  height: 82vh;
}
.inner-popover .content .befor-msg .msg-card .time,
.inner-popover .content .new-msg .msg-card .time {
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
  color: #9e9e9e;
  margin: 10px 0 ;
}
.inner-popover .content .befor-msg .msg-card .msg,
.inner-popover .content .new-msg .msg-card .msg {
  font-size: 13.5px;
  margin: 10px 0 ;
  display: flex;
}
.inner-popover .content .befor-msg .msg-card .msg img,
.inner-popover .content .new-msg .msg-card .msg img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: middle;
}
.inner-popover .content .befor-msg .msg-card .msg .text .text-content,
.inner-popover .content .new-msg .msg-card .msg .text .text-content {
  margin-left: 10px;
  border-radius: 10px;
  background-color: #d8d8d8;
  padding: 12px 10px ;
  vertical-align: middle;
}
.inner-popover .content .befor-msg .msg-card .active,
.inner-popover .content .new-msg .msg-card .active {
  flex-direction: row-reverse;
  margin-right: 10px;
}
.inner-popover .tip {
  text-align: center;
  margin-top: 50px;
  overflow: scroll;
  height: 82vh;
}
@media (max-width: 1920px) {
  .inner-popover .content {
    height: 82vh;
  }
}
@media (min-width: 1921px) {
  .inner-popover .content {
    height: 87vh;
  }
}
.inner-popover .el-input {
  position: absolute;
}
.inner-popover .el-input .el-input__inner {
  margin-left: 15px;
  height: 70px;
  width: 90%;
}
.inner-popover .send-button {
  position: absolute;
  right: 15px;
  bottom: -120px;
  border: 1px solid #d1d1d1;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
.send-button:hover {
  background-color: #d4d4d4;
}
#el-drawer__title {
  margin: 0;
  padding: 0;
}
