.all-mv-papg {
  font-size: 13px;
  color: #575757;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: scroll;
  height: 87vh;
}
.all-mv-papg .content {
  width: 1100px;
}
.all-mv-papg .content .title {
  font-size: x-large;
  font-weight: bolder;
  color: black;
  padding: 20px 0;
}
.all-mv-papg .content .select-bar {
  display: flex;
  margin-bottom: 5px;
}
.all-mv-papg .content .select-bar .left {
  width: 4%;
  padding: 7px 0px 10px 0;
}
.all-mv-papg .content .select-bar .right {
  width: 90%;
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
}
.all-mv-papg .content .select-bar .right div {
  padding: 7px 25px;
}
.all-mv-papg .content .select-bar .right .active {
  background-color: #ffd8d8;
  border-radius: 10px ;
}
.all-mv-papg .content .card {
  display: flex;
  flex-wrap: wrap;
}
.all-mv-papg .content .card .item {
  width: 24%;
}
.all-mv-papg .content .card .item img {
  height: 150px;
  object-fit: cover;
}
.all-mv-papg .content .card .item:nth-child(n+0) {
  margin-right: 10px;
}
.all-mv-papg .content .card .item:nth-child(n+2) {
  margin-right: 10px;
}
.all-mv-papg .content .card .item:nth-child(n+3) {
  margin-right: 10px;
}
