.private-fm {
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.private-fm .fm-content {
  width: 1100px;
  display: flex;
}
.private-fm .fm-content .record-tools {
  width: 50%;
}
.private-fm .fm-content .record-tools .record {
  width: 100%;
  height: 320px;
}
.private-fm .fm-content .record-tools .record .pic {
  height: 320px;
  margin-top: 80px;
  position: relative;
}
.private-fm .fm-content .record-tools .record .pic .current-pic {
  width: 300px;
  height: 300px;
  z-index: 998;
  position: absolute;
  left: 200px;
  top: 0;
}
.private-fm .fm-content .record-tools .record .pic .next-pic {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 170px;
  top: 25px;
}
.private-fm .fm-content .record-tools .record .pic .play-button {
  position: absolute;
  left: 330px;
  top: 125px;
  z-index: 999;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  font-size: 30px;
}
.private-fm .fm-content .record-tools .record .pic .stop-button {
  position: absolute;
  left: 460px;
  top: 260px;
  z-index: 999;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  font-size: 30px;
}
.private-fm .fm-content .record-tools .tools {
  display: flex;
  text-align: center;
  margin-top: 10px;
  margin-left: 100px;
  justify-content: center;
}
.private-fm .fm-content .record-tools .tools .heart,
.private-fm .fm-content .record-tools .tools .more,
.private-fm .fm-content .record-tools .tools .next,
.private-fm .fm-content .record-tools .tools .delete {
  margin: 10px;
  margin-top: 25px;
  margin-left: 25px;
  border: 1px solid  gray;
  border-radius: 50%;
  padding: 5px 6px;
}
.private-fm .fm-content .song-info {
  width: 45%;
  height: 50%;
  padding-top: 40px;
}
.private-fm .fm-content .song-info .song-name {
  font-size: x-large;
}
.private-fm .fm-content .song-info .album-name,
.private-fm .fm-content .song-info .singer-name {
  width: 200px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 15px 0;
}
.private-fm .fm-content .song-info .album-name span,
.private-fm .fm-content .song-info .singer-name span {
  color: #6555f7;
  cursor: pointer;
}
.private-fm .fm-content .song-info .lyric {
  overflow: scroll;
  overflow-x: hidden;
  height: 350px;
}
.private-fm .fm-content .song-info .lyric .lyric-item {
  font-size: medium;
  margin: 10px 0;
}
.private-fm .fm-content .song-info .lyric .lyric-active {
  font-weight: 900;
  margin: 20px 0;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.private-fm .comment {
  width: 1100px;
  margin-top: 40px;
  top: 550px;
}
.private-fm .comment .title {
  font-size: x-large;
  padding-bottom: 20px;
}
